<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <sc-stepper [linearModeSelected]="false" #scStepper>
        <cdk-step [label]="'Address'" [completed]="checkoutForm.get('addressForm')?.valid">
          <sc-checkout-address [checkoutForm]="checkoutForm" />
        </cdk-step>
        <cdk-step [label]="'Delivery'" [completed]="checkoutForm.get('deliveryForm')?.valid">
          <sc-checkout-delivery [checkoutForm]="checkoutForm" />
        </cdk-step>
        <cdk-step [label]="'Review'" [completed]="checkoutForm.get('reviewForm')?.valid">
          <sc-checkout-review />
        </cdk-step>
        <cdk-step [label]="'Payment'">
          <sc-checkout-payment />
        </cdk-step>
      </sc-stepper>
    </div>
    <div class="col-4">
      <sc-order-totals></sc-order-totals>
    </div>
  </div>
</div>
