<div class="container">
  @if (_cartService.cartSource$ | async; as cart) {
  <div class="container">
    <div class="row">
      <sc-basket-summary (addItem)="addQuantity($event)" (removeItem)="removeQuantity($event)" />
    </div>

    <div class="row">
      <div class="col-6 offset-6">
        <sc-order-totals />
        <div class="d-grid">
          <a
            routerLink="/checkout"
            routerLinkActive="router-link-active"
            class="btn btn-outline-primary py-2"
            >Checkout</a
          >
        </div>
      </div>
    </div>
  </div>
  } @else {
  <p>There are no items in your cart</p>
  }
</div>
